/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

li,
a {
    list-style: none;
    color: #FFFFFF;
    text-decoration: none;
}

/* ENCABEZADO */
.header {
    background-color: #001F3F;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

.contenedor {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: end;
    align-items: center;
}

.img {
    height: 100px;
}

.encabezado {
    margin-right: 20px;
    text-align: center;
}


/* BARRA LATERAL */
.nav {
    height: 100vh;
    background-color: #f4f4f4;
    width: 200px;
    float: left;
    padding: 20px;
}

.menu {
    list-style: none;
}


.li {
    display: block;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.li:hover {
    font-size: 20px;
    color: #696969;
    transform: scale(100px);
}

.contenedorf {
    margin-top: 40px;
}

/* CONTENIDO PRINCIPAL */
.main {
    height: 100vh;
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.moneda {
    justify-content: flex-start;
    flex-direction: column;
}


.tituloMoneda {
    text-align: center;
}

.sesion {
    margin-bottom: 20px;
    text-align: center;
}

.contenedorM {
    margin-top: 100px;
    width: 400px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.inputMoneda,
.inputPrestamo {
    margin: 0 auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.inputMoneda {

    width: 300px;
}

select {
    width: 300px;
    margin: 0 auto;
}

.containerForm {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.options {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

label {
    text-align: center;
}

button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1a76d8;
}

.inputSubmit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inputSubmit:hover {
    background-color: #0056b3;
}

.resultBox {
    font-size: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.containerPrestamo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.tituloPrestamo {
    margin: 0 auto;
}

label {
    margin-top: 20px;
}

.containerLabel {
    display: flex;
    flex-direction: column;
}

/* PIE DE PAGINA */
.footer {
    clear: both;
    background-color: #001F3F;
    color: #fff;
    padding: 10px;
}

.container {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}

.cajaIcons {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.boxFooter {
    margin: 10px;
}

.cajaUl {
    display: flex;
}

.icon {
    color: #FFFFFF;
}

.footerP:hover {
    transition: all 0.3s ease-in-out;
}

.footerP:hover {
    color: #ccc;
    transform: scale(100px);
}

.aIcon {
    display: block;
    transition: all 0.3s ease-in-out;
}

.aIcon:hover {
    transform: scale(100px);
}


@media (max-width:650px) {
    .cajaUl {
        flex-direction: column;
    }
}